openapi: 3.2.0
info:
  title: Rugspull Read Rugs API
  version: 0.4.0
  summary: Read-only discovery cache for Rugspull on BNB Smart Chain
  description: This API exposes rebuildable discovery and indexed-event data. BNB Smart Chain contracts and matching event history remain financial truth. The API does not buy, sell, rug, claim, refund, or sign transactions for users. No numeric rate-limit or uptime SLA is offered. Independent audit is pending, total loss remains possible, and this specification does not claim third-party integration, review, partnership, recommendation, or endorsement.
  contact:
    name: Rugspull security and corrections
    url: https://rugspull.com/security-model
    email: info@rugspull.com
servers:
- url: https://rugspull.com
tags:
- name: Rugs
  description: Current-Factory discovery cache and indexed event records.
paths:
  /api/rugs:
    get:
      operationId: listRugs
      tags:
      - Rugs
      summary: List current-Factory cached Rugs
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - Opening
          - Failed
          - Active
          - Rugged
      - name: cursor
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 1000000
          default: 0
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
      responses:
        '200':
          description: Cached Rug rows and next numeric cursor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RugList'
        '400':
          $ref: '#/components/responses/Error'
        '503':
          $ref: '#/components/responses/Error'
  /api/rugs/{chainId}/{rug}:
    get:
      operationId: getRug
      tags:
      - Rugs
      summary: Read one indexed Rug record
      parameters:
      - $ref: '#/components/parameters/ChainId'
      - $ref: '#/components/parameters/RugAddress'
      responses:
        '200':
          description: Cached Rug record.
          content:
            application/json:
              schema:
                type: object
                required:
                - rug
                properties:
                  rug:
                    type: object
                    additionalProperties: true
        '404':
          $ref: '#/components/responses/Error'
  /api/rugs/{chainId}/{rug}/events:
    get:
      operationId: listRugEvents
      tags:
      - Rugs
      summary: Read up to 100 ordered cached events for one Rug
      parameters:
      - $ref: '#/components/parameters/ChainId'
      - $ref: '#/components/parameters/RugAddress'
      responses:
        '200':
          description: Events ordered by block number and log index.
          content:
            application/json:
              schema:
                type: object
                required:
                - events
                properties:
                  events:
                    type: array
                    maxItems: 100
                    items:
                      type: object
                      additionalProperties: true
components:
  responses:
    Error:
      description: Request error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    ChainId:
      name: chainId
      in: path
      required: true
      schema:
        type: integer
        minimum: 1
    RugAddress:
      name: rug
      in: path
      required: true
      schema:
        type: string
        pattern: ^0x[a-fA-F0-9]{40}$
  schemas:
    RugList:
      type: object
      required:
      - rugs
      - nextCursor
      properties:
        rugs:
          type: array
          items:
            type: object
            additionalProperties: true
        nextCursor:
          type: integer
    Error:
      type: object
      required:
      - error
      properties:
        error:
          type: string
externalDocs:
  description: Human-readable GET-only endpoint reference and trust boundaries
  url: https://rugspull.com/api-reference
x-rugspull-boundaries:
  financialTruth: BNB Smart Chain contracts and matching event history
  transactionExecution: false
  numericRateLimitSla: false
  uptimeSla: false
  independentAuditCompleted: false
  organizedMainnetPromotion: NO-GO
  thirdPartyIntegrationClaimed: false
x-rugspull-resources:
  apiReference: https://rugspull.com/api-reference
  humanGuide: https://github.com/pqchase/rugspull/blob/main/docs/INTEGRATION.md
  postmanCollection: https://rugspull.com/rugspull-read.postman_collection.json
  apisJson: https://rugspull.com/.well-known/apis.json
  apiOnboarding: https://rugspull.com/.well-known/api-onboarding
  apiCatalog: https://rugspull.com/.well-known/api-catalog
